<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= user.name %></td>

        <td>フォロー<%= user.following_users.count %></td>
        <td>フォロワー<%= user.follower_users.count %></td>

        <td>
          <% unless user == current_user %>
    <% if current_user.following?(user) %>

        <% @relationship = current_user.followers.find_by(followed_id: user.id) %>

        <%= form_with model: @relationship, html: { method: :delete } do |f| %>
          <%= f.hidden_field :followed_id,:value => user.id %>
          <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
        <% end %>

    <% else %>

      <% @relationship = current_user.followers.build %>

      <%= form_with model: @relationship, class: "w-100" do |f| %>
        <%= f.hidden_field :followed_id, :value =>user.id %>
        <%= f.submit "Follow", class: 'btn btn-primary btn-block w-100' %>
      <% end %>

    <% end %>
<% end %>
        </td>
        <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
